.content__categories nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 0 24px;
}

.content__categories a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--lightGray);
    text-decoration: none;
    width: 312px;
    height: 220px;
}

.content__categories h4 {
    font-size: var(--font-size-h4);
    font-weight: bold;
    color: var(--black);
    text-align: center;
}