@import "../components/introductionText.css";

.content {
    display: flex;
    flex-direction: column;
    gap: 88px;
    justify-content: center;
}

.content__banner {
    width: 100vw;
    align-items: center;
}

.instruductionText--mainDescription {
    margin: 0 48px;
}