@import "../components/cardGallery.css";

.content__paymentConditions {
    margin: 0 24px;
}

.content__paymentConditions h4 {
    font-size: var(--font-size-h4);
    font-weight: bold;
}

.content__paymentConditions p {
    font-size: var(--font-size-body2);
    line-height: 32px;
}