@import "../components/Banner.css";

.content__banner--blogImage {
    background-image: url("../../img/Mobile/Blogpost/Bannerblogpost.png");
    
}

@media screen and (min-width: 768px ) {
    .content__banner--blogImage {
        background-image: url("../../img/Tablet/Blogpost/Bannerblog.png");
    }
}

@media screen and (min-width: 1440px ) {
    .content__banner--blogImage {
        background-image: url("../../img/Desktop/Blogpost/Bannerblog.png");
    }
}