@import "cardGallery.css";

.content__paymentConditions {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    gap: 24px;
}

.content__blockText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__blockText h4 {
    font-size: var(--font-size-h4);
    font-weight: bold;
}

.content__blockText p {
    font-size: var(--font-size-body2);
}

@media screen and (min-width: 768px) {
    .content__paymentConditions {
        margin: 0 60px;
    }
}

@media screen and (min-width: 1440px) {
    .content__paymentConditions {
        display: grid;
        grid-template-columns: 384px 790px;
        justify-content: space-between;
        margin: 0 122px;
    }

    .content__paymentConditions h3 {
        grid-column: span 2;
        align-self: center;
    }
}