.header {
    display: flex;
    background-color: var(--black);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 37px 48px;
}

.header__logo {
    width: 68px;
    height: 64px;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__desktopMenu {
    display: none;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 37px 60px;
    }
    .header__desktopMenu {
        display: flex;
        gap: 40px;
    }

    .desktop__link {
        text-decoration: none;
        font-size: var(--font-size-body3);
        color: var(--white);
    }

    .header__logo {
        width: auto;
        height: auto;
    }

    .header__menu {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 37px 120px;
    }
}