@import url("components/introductionText.css");

.content {
    display: flex;
    flex-direction: column;
    gap: 88px;
    justify-content: center;
}

.content__banner {
    width: 100vw;
    align-items: center;
}

.content p {
    margin: 0 48px;
}