.content {
    display: flex;
    flex-direction: column;
    gap: 88px;
    justify-content: center;
}

.content--banner {
    width: 100vw;
    align-items: center;
}

.content--introductionText {
    font-size: var(--font-size-body2);
    margin: 0 48px;
    text-align: center;
    line-height: 32px;
}