@import "components/seeDetaisButton.css";
@import "components/sectionTitle.css";

.content__weekOffer h4 {
    font-size: var(--font-size-h4);
}

.content__weekOffer--wrapCard {
    display: flex;
    flex-wrap: wrap;
}

.weekOffer__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 312px;
    height: 288px;
    border-radius: 24px;
    margin: 0px 24px 24px 24px;
    color: var(--white);
    flex-grow: 1;
}

.weekOffer__card p {
    font-size: var(--font-size-body2);
}

.weekOffer__card h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
}

.weekOffer__card h3 {
    font-size: var(--font-size-h3);
    font-weight: bold;
}


.card--japan {
    background-image: url("../img/Mobile/Homepage/Japao.png");
}
.card--sanAndreas {
    background-image: url("../img/Mobile/Homepage/San_Andreas.png");
}
.card--paraiba {
    background-image: url("../img/Mobile/Homepage/Paraiba.png");
}
.card--manaus {
    background-image: url("../img/Mobile/Homepage/Manaus.png");
}


.card--japan,
.card--sanAndreas,
.card--paraiba,
.card--manaus {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}